body {
    font-family: 'Dancing Script', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffe6e6;
}

.container {
    text-align: center;
    background: #ffcccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, #countdown {
    color: #ff69b4;
    margin-top: 20px;
}
